#name_of_board{:board_id => @scrum_board.id}
  %h2  
    = @scrum_board.name_of_board
      
#main_container
  #to_do
    %h3  todo
    .block_to_do
      %div{:class => "sticker", :id => "not_draggable"}
        + 
      - @stickers_todo.each do |sticker| 
        %div{:class => "sticker color #{sticker.background_color}", :data => {:current_status => "#{sticker.sticker_status}"}}
          = sticker.sticker_text
          = render "link_to_delete"  
      
  #in_progress
    %h3  in progress
    .block_in_progress
      - @stickers_in_progress.each do |sticker| 
        %div{:class => "sticker color #{sticker.background_color}", :data => {:current_status => "#{sticker.sticker_status}"}}
          = sticker.sticker_text
          = render "link_to_delete"
      
      
  #done
    %h3  done
    .block_done
      - @stickers_done.each do |sticker| 
        %div{:class => "sticker color #{sticker.background_color}", :data => {:current_status => "#{sticker.sticker_status}"}}
          = sticker.sticker_text
          = render "link_to_delete"